# exportPattern("^[^\\.]")
import()
export(.aligne)
export(.centsiz)
export(.dotchart2)
export(.ed)
export(.efourier)
export(.extract_landmark)
export(.iefourier)
export(.iefourier_co)
export(.loadimg)
export(md)
export(pd)
export(.plotf)
export(plot_pca_tps)
export(.removeNA)
export(rv)
export(rv.test)
export(shapesc)
export(.tps2)
export(.tps2d)
export(vector_angle)
